@charset "utf-8";

ul {
    list-style: none;
}

ul > li {
    display: none;
    margin-left: 20px;
}

ul:hover > li {
    display: block;
}

#wrap {
    display: flex;
}

@media screen and (min-width: 768px) {
    #wrap {
        flex-direction: row;
    }
}

@media screen and (max-width: 768px) {
    #wrap {
        flex-direction: column;
    }
}